section{
    background-color: white;
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 25px;
    padding-bottom: 20px;
}

/*--Page section styling--*/
.page-display{
    width: 800px;
}

.inactive-nav{
    opacity: .6;
}

.comic-nav{
    align-items: center;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin: 0px;
    font-size: 2em;
}

.comic-nav p{
    margin-left: 5px;
    margin-right: 5px;
}

/*--Tag section styling--*/

.tag-list{
    font-size: 1.3em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.tag-list li{
    padding-left: 1em;
}


#page-description{
    padding-left: 5%;
}

/*--Comments section styling--*/

#page-comments{
    text-align: left;
    padding-left: 15%;
    padding-right: 10%;

    display: grid;
    grid-template-columns: 1.3fr .7fr;
    gap: 10px;
}

#page-comments ul{
    list-style: none;
}

legend{
    font-size: 1.5em;
    padding: 0px;
    margin: 0px;
}

#column2{
    padding-top: 5rem;
}

#comments-submission{
    display: block;
    line-height: 2em;
}

.comment-container{
    line-height: .3em;
    margin-bottom: 3.5em;
}

.comment-container p{
    line-height: 1.2em;
}

/*Small screen styling*/

@media only screen and (max-width: 1200px) {
    #gallery{
        padding-left: 0px;
        padding-right: 0px;
    }
    .page-display{
        width: 100%;
        max-width: 800px;
    }

    .active-nav, .inactive-nav{
        width: 50px;
    }

    #page-comments{
        padding-left: 5%;
        padding-right: 5%;
    }

    textarea{
        width: 90%;
    }

}