body{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

h1{
  border-color: #d3e644;
  border-style: dashed;
  text-align: right;
}

nav{
  display: block;
}

nav ul{
  font-size: 2em;
  align-items: center;
  list-style: none;
  background-color: lightgrey
}

nav ul li{
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
}

nav ul li a{
  text-decoration: none;
}

nav ul li a:hover{
  text-decoration: none;
  background-color: rgb(238, 237, 237);
}