html{
  background-color:black;
  height: 100%;

  font-family:Arial, Helvetica, sans-serif;

}

body{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}

header{
  background-image: url("../assets/banner.jpg");
  background-size: cover;
}

main{
  margin-bottom: auto;
}

section{
  background-color: white;
  margin-top: 15px;
  padding-top: 15px;
  padding-left: 18%;
  padding-right: 18%;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-left-style: inset;
  border-right-style: inset;
}

.horizontal-list{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

p{
  font-family:Arial, Helvetica, sans-serif;

  display: flex;
  text-align: left;
  font-size: 1.2em;
  margin-left: 1em;
}

strong{
  font-size: 1.1em;
}

h1{
  text-align: right;
  font-size: 3em;
  color: white;
  padding-top: 80px;
  padding-right: 40px;
}

h2{
  font-size: 2em;
  background-color: white;
}

h3{
  text-align: left;
}

section{
  background-color: white;
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 25px;
  padding-bottom: 15px;

}

/*Nav bar styling*/

nav{
  display: block;
}

nav ul{
  font-size: 2em;
  align-items: center;
  list-style: none;
  background-color: lightgrey
}

nav ul li{
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
}

nav ul li a{
  text-decoration: none;
}

nav ul li a:hover{
  text-decoration: none;
  background-color: rgb(238, 237, 237);
}

/*--About page styling--*/

.two-column{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-panel{
  text-align: left;
  padding: 5px;
}

.character-profile{
  display: flex;
  margin-right: 5%;
  margin-left: 5%;
  padding-right: 8px;
  background-color: rgb(233, 231, 238);
}

.character-profile img{
  height: 100%;
}

/*--Artist page styling--*/

.work-samples{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.work-samples img{
  max-width: 250px;
}

.focusable:hover{
  cursor: pointer;
  transform: scale(110%);
}

.focus-image{
  position: fixed;
  border: 5px solid white;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  transform: scale(250%);
}

.focus-image:hover{
  cursor: pointer;
}

/*--General small screen styling--*/

@media only screen and (max-width: 1000px) {
  
  body{
    margin-left: 0;
    margin-right: 0;
  }

  .two-column{
    grid-template-columns: 1fr;
  }

  section{
    padding-left: 2%;
    padding-right: 2%;
  }

  article{
    margin-left: 0;
    margin-right: 0;

  }

  .focus-image{
    left: 40%;
    width: 30%;
  }
}